# Gradle
.gradle/
build/

# IntelliJ / Android Studio
.idea/
*.iml

# Kotlin / Java
*.class

# Android
local.properties
captures/
.externalNativeBuild/
.cxx/

# Logs
*.log

# Mac
.DS_Store

# KMP / Xcode
iosApp/build/

# Kotlin build cache (do not commit)
.kotlin/
